<% @cocktails.each do |cocktail| %>
  <h2><%= link_to cocktail.name, cocktail_path(cocktail)  %></h2>
<% end %>
<%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-primary" %>

<%= cl_image_tag("l911pglkx0948w3ybtbm",
      width: 400, height: 300, crop: :fill) %>
